/* Open Sans Font*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Permanent+Marker&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}



/*-----------------------------------Loader------------------------*/

.loader-container {
	position: absolute;
	/* display: none; */
	width: 100%;
	height: 100%;
	background: linear-gradient(#1a357e93, #6a89cc81);
}

.loader-container .loader {
	/* margin: 0 auto; */
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*---------------------main container-------------*/
.container {
	display: flex;
	flex-direction: column;
}

/* Navbar */

.navbar {
	background: #1a347e;
	display: flex;
	flex-grow: 0;
	height: 12vh;
	/* justify-content: flex-start; */
}

.logo-container {
	width: 30%;
	padding: 20px;
}

.nav-links-container {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.nav-link {
	width: 15%;
	text-align: center;
	color: #ffffff;
	font-weight: 600;
	font-size: 120%;
	letter-spacing: 1px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background 0.2s;
}

.nav-link:hover {
	background: #142862;
}
/*------------------------Teams container------------------------*/


.team-card-container{
	display: flex;
	background: #6a89cc;
	justify-content: space-around;
	flex-wrap: wrap;
	padding:50px;
}

.team-card{
	display: flex;
	margin: 15px;
	margin-top: 25px;
	flex-direction: column;
	background: #071d42;
	color:#fbc531;
	border-radius: 50px;
	box-shadow: 10px 10px 5px #071d42;
	transition: transform 0.5s;
}
.team-card:hover {
	transform: scale(1.075);
}
.team-card img{
	border-radius: 50px;
	width:370px;
	height:370px;
}
.team-card .team-name{
	text-align: center;
	font-size: 150%;
	font-weight: 800
}
/* ------------------------Filter Forms-------------------------- */
.filter-form-container {
	height: 88vh;
	display: flex;
	flex-grow: 1;
}

.filter-form {
	width: 25%;
	background: #071d42;
	padding: 70px 25px;
	color: #ffffff;
	height: 100%;
}

.filter-form .input-field {
	margin: 30px;
	margin-bottom: 50px;
}

.filter-form .input-field label {
	display: block;
	margin: 10px;
	font-weight: 300;
	font-size: 150%;
	color: #fbc531;
}

.filter-form .input-field input {
	background: none;
	border: none;
	border-bottom: 1px solid #ffffff;
	color: #ffff;
	margin: 10px;
	font-size: 120%;
	font-weight: 400;
	padding: 5px;
	width: 95%;
}

.filter-form .input-field input:focus {
	outline: none;
}

/* .filter-form .input-field input::placeholder {
	color: #ffffff;
} */

.filter-form .input-field select {
	background: none;
	border: none;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	margin: 10px;
	font-size: 120%;
	font-weight: 400;
	padding: 5px;
}

.filter-form .input-field select:focus {
	outline: none;
}

.filter-form .input-field select option {
	background: transparent;
	color: black;
}

.filter-form-container .filter-data-table {
	overflow: auto;
	width: 75%;
	display: flex;
	justify-content: center;
	padding: 60px;
	background: #030e29;
}

.filter-form-container .data-table {
	width: 70%;
	border: none;
	color: #fff;
	text-align: center;
	border-collapse: collapse;
}

.filter-form-container .data-table thead {
	color: #fbc531;
	font-size: 120%;
}

.filter-form-container .data-table thead tr th {
	font-weight: 300;
	padding: 30px;
}

.filter-form-container .data-table tbody tr td {
	padding: 30px;
}

.filter-form-container .data-table tbody tr:nth-child(even) {
	/* display: block; */
	background-color: #030718;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/* Matches Form */
.matches-form-container {
	display: flex;
	height: auto;
	min-height: 88vh !important;
	flex-direction: column;
}
.matches-form-container .matches-form {
	padding: 25px 10px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.matches-form .input-field {
	margin: 0px;
	width: 18%;
}

.matches-form .input-field label {
	font-size: 110%;
}

.matches-form .input-field input {
	font-size: 100%;
	font-weight: 200;
	width: 75%;
}

.matches-form .input-field select {
	font-size: 100%;
	font-weight: 200;
	width: 75%;
}

.matches-form-container .match-data-cards {
	position: relative;
	overflow: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* padding: 35px; */
	/* background: #030e29; */
	background: #6a89cc;
	flex-grow: 1;
	/* font-family: "Permanent Marker", cursive; */
	font-size: 100%;
}

.match-data-cards .match-card {
	/* background: linear-gradient(#1a347e, #071d42); */
	/* background: #1e272e; */
	background: #030e29;
	width: 22%;
	margin: 15px;
	margin-top: 25px;
	padding: 50px 40px 20px 40px;
	display: flex;
	flex-direction: column;
	/* border: 1px solid #c8d6e5; */
	border-radius: 50px;
	box-shadow: 10px 10px 5px #071d42;
	color: #82ccdd;
	letter-spacing: 1px;
	transition: transform 0.5s;
}

.match-data-cards .match-card:hover {
	transform: scale(1.075);
}

.match-data-cards .match-card .top-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.match-card .top-section .top-left,
.match-card .top-section .top-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 100%;
	font-weight: 800;
}

.match-card .top-section .top-left div,
.match-card .top-section .top-right div {
	margin: 5px 0;
}

.match-card .top-section .match-icon-container {
	width: 100px;
	height: 100px;
	margin: 5px;
	color: #c8d6e5;
}

.match-data-cards .match-card .middle-section {
	margin: 20px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 90%;
}

.match-data-cards .match-card .middle-section div {
	width: 95%;
	margin: 10px;
	text-align: center;
}

.match-card .middle-section .match-teams {
	font-size: 200%;
	font-weight: 800;
}

.match-data-cards .match-card .bottom-section {
	font-size: 80%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.match-data-cards .match-card .bottom-section div {
	width: 75%;
	margin: 7px;
}

.match-data-cards .match-card .bottom-section span {
	font-weight: bold;
}

/*Stats Form*/

.stats-form {
	padding: 30px 20px;
}

.stats-form .input-field {
	margin: 20px;
	margin-bottom: 20px;
	/* width: 50%; */
}

.stats-form .input-field label {
	font-size: 120%;
	font-weight: 300;
}
