* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .cards{
    width: 100%;
    height:auto;
  }
  
  .card{
    margin:6%;
    transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
    background-color: #fff;
    width:21.25%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(226, 179, 179, 0.1);
    float:left;
  }
  .card:hover{
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    transform: scale(1.05,1.05);
  }
  
  .card__image{
    width:100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .card_info{
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px 24px 24px 24px;
  }
  .card__category{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
  }
  .card__title
  {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    text-transform: capitalize;
  }
  .playerForm{
      position: absolute;
      top:70px;
      left:5%;
      width:90%;
      border : 1px solid #000;
      border-radius: 2%;
      background: #e1ebe7;
      padding: 20px;
      box-shadow: 0 3px 10px rgb(138, 137, 137);
  }
  .playerForm .playerName{
      float :left;
  }
  .playerForm .battingHand{
      margin-left:10px;
      width:150px;
      float :left;
  }
  .playerForm .bowlingSkill{
      margin-left:10px;
      width:200px;
      float: left;
  }
  .playerForm .dob{
    margin-left:10px;
    width:170px;
    float: left;
  }
  .playerForm .country{
    margin-left:10px;
    width:100px;
    float: left;
  }
  .playerForm button{
      position: absolute;
      right:0px;
      left:95%;
      top:70%;
  }
  .playerstable{
      position: absolute;
      top:300px;
      left:5%;
      width:90%;
  }
  .dd{
    display: inline-block;
    margin:5px 5px;     
  }
  .inputarea{
    display: inline-block;
    margin:5px 5px;
  }
  .matchestable{
    position: absolute;
    top:450px;
    left:5%;
    width:90%;
}
.averageSRtable{
    position: absolute;
    top:300px;
    left:5%;
    width:90%;
}